---
name: Docker
"on":
  # required by gomod-go-version-updater to trigger this action once pr has
  # been reviewed
  pull_request_review:
    types: [submitted]
  push:
permissions:
  contents: read
  packages: write
jobs:
  mcvs-docker-action:
    strategy:
      matrix:
        build-args:
          - mcvs-integrationtest-services
          - mcvs-stub-server
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: schubergphilis/mcvs-docker-action@96-docker-build-arg
        with:
          build-args: ${{ matrix.build-args }}
          images: ghcr.io/${{ github.repository }}/${{ matrix.build-args }}
          dockle-accept-key: curl,HOME,libcrypto3,libssl3,PATH
          token: ${{ secrets.GITHUB_TOKEN }}
