---
name: Docker
"on":
  # required by gomod-go-version-updater to trigger this action once pr has
  # been reviewed
  pull_request_review:
    types: [submitted]
  push:
permissions:
  contents: read
  packages: write
jobs:
  mcvs-docker-action:
    strategy:
      matrix:
        build-args:
          - mcvs-integrationtest-services
          - mcvs-stub-server
          - oktamock
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: schubergphilis/mcvs-docker-action@v0.8.3
        with:
          build-args: ${{ matrix.build-args }}
          # yamllint disable rule:line-length
          dockle-accept-key: APPLICATION,curl,HOME,libcrypto3,libssl3,PATH
          # yamllint enable rule:line-length
          images: ghcr.io/${{ github.repository }}/${{ matrix.build-args }}
          token: ${{ secrets.GITHUB_TOKEN }}
