---
name: docker-mcvs-registry
"on":
  push:
    paths:
      - "registry/**"
      - ".github/workflows/mcvs-registry.yml"
  pull_request:
    paths:
      - "registry/**"
      - ".github/workflows/mcvs-registry.yml"
permissions:
  contents: read
  packages: write
env:
  DOCKERFILE_CONTEXT: ./registry
  IMAGE_NAME: mcvs-registry
  IMAGE_REPO: ghcr.io/${{ github.repository }}
  IMAGE_TAG: ${{ github.ref }}
  IMAGE_MANIFEST_LIST: nginx/nginx:1.27.0-alpine
  IMAGE_MANIFEST_SINGLE: nginx/nginx:1.27.0-alpine-slim-amd64
  REGCTL_VERSION: v0.8.0
  REGISTRY_LOCAL: localhost:5000
  REGISTRY_REMOTE: public.ecr.aws
jobs:
  build-and-publish:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        build-args:
          - mcvs-registry
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Install regctl
        uses: regclient/actions/regctl-installer@main
        with:
          release: ${{ env.REGCTL_VERSION }}
      - name: Create registry backup directory
        run: mkdir -p ${{ env.DOCKERFILE_CONTEXT }}/backup-registry
      - name: Pull images data and prepare context directory
        shell: bash
        run: |
          #!/bin/bash

          extract_dockerfile_version() {
            local version=$(grep '^FROM' "$1" | awk -F: '{print $2}')
            echo "$version"
          }
          dockerfile_path=./registry/Dockerfile
          registry_version=$(extract_dockerfile_version "${dockerfile_path}")

          # run local registry
          docker run -d \
            -p 5000:5000 \
            --name mcvs-registry-tmp \
            registry:${registry_version}

          # disable tls for local tmp registry
          regctl registry set --tls disabled ${{ env.REGISTRY_LOCAL }}

          # import image with manifest list
          regctl \
            image \
            copy --digest-tags \
            ${{ env.REGISTRY_REMOTE }}/${{ env.IMAGE_MANIFEST_LIST }} \
            ${{ env.REGISTRY_LOCAL }}/${{ env.IMAGE_MANIFEST_LIST }}

          # import image with single manifest
          regctl \
            image \
            copy --digest-tags \
            ${{ env.REGISTRY_REMOTE }}/${{ env.IMAGE_MANIFEST_SINGLE }} \
            ${{ env.REGISTRY_LOCAL }}/${{ env.IMAGE_MANIFEST_SINGLE }}

          # export images files to backup directory
          docker \
            cp \
            mcvs-registry-tmp:/var/lib/registry/. \
            ${{ env.DOCKERFILE_CONTEXT }}/backup-registry

          # clean up the registry container
          docker rm -f mcvs-registry-tmp
      - uses: schubergphilis/mcvs-docker-action@v0.6.1
        with:
          build-args: ${{ matrix.build-args }}
          context: ${{ env.DOCKERFILE_CONTEXT }}
          dockle-accept-key: "curl,HOME,libcrypto3,libssl3,PATH"
          images: ${{ env.IMAGE_REPO }}/${{ matrix.build-args }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Get new registry catalog
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        shell: bash
        run: |
          #!/bin/bash

          docker images

          docker run -d \
            -p 5001:5000 \
            --name mcvs-registry \
            ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

          docker ps

          curl http://localhost:5001/v2/_catalog

          docker rm --force mcvs-registry
